<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <style>
            @import url("/Content/styles.css");
        </style>
        <nav>
            <a href="/franchises">Back to top</a>
        </nav>
        <p>
            <h4>Franchise <span class="CorporationName">{{model.Name$}}</span> details</h4>
        </p>
        <p>
            <div>
                <div>Edit franchise name:</div>
                <input value="{{model.Name$::input}}"/>
                <button value="{{model.SaveTrigger$::click}}" onmousedown="++this.value">Save</button>
            </div>
            
            <div>
                <div>Add new office:</div>
                <input value="{{model.NewOfficeName$::input}}" />
                <button value="{{model.NewOfficeTrigger$::click}}" onmousedown="++this.value">Add new office</button>
            </div>
        </p>
        <hr/>
        <p>
            <div>Existed offices:</div>
            <table class="offices">
                <tr>
                    <th class="col-1">Name</th>
                    <th class="col-2">Number of homes sold</th>
                    <th class="col-3">Total comission</th>
                    <th class="col-4">Average comission</th>
                    <th class="col-5">Trend</th>
                </tr>
            </table>

            <template is="dom-repeat" items="{{model.Offices}}">
                <starcounter-include partial="{{item}}"></starcounter-include>
            </template>
        </p>
    </template>
</template>
