<template>
    <template is="dom-bind">
        <table>
            <tr>
                <td class="col-1"><a href="/franchises/offices/{{model.OfficeId}}/details">{{model.Name}}</a></td>
                <td class="col-2 text-center">{{model.SoldHomesCount}}</td>
                <td class="col-3 text-center">{{model.TotalCommission}}</td>
                <td class="col-4 text-center">{{model.AverageCommission}}</td>
                <td class="col-5 text-center">{{model.Trend}}</td>
            </tr>
        </table>
    </template>
</template>