<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <link rel="stylesheet" href="../Content/styles.css"/>
        <p>
            <h2>Real Estate Agency Franchise</h2>
        </p>
        <p>
            <h3 class="CorporationName">{{model.Name}}</h3>

            <table class="offices">
                <tr>
                    <th class="col-1">Name</th>
                    <th class="col-2">Number of homes sold</th>
                    <th class="col-3">Total comission</th>
                    <th class="col-4">Average comission</th>
                    <th class="col-5">Trend</th>
                </tr>
            </table>

                <template is="dom-repeat" items="{{model.Offices}}">
                    <starcounter-include partial="{{item}}"></starcounter-include>
                </template>
            
            <input value="{{model.NewOfficeName$::input}}"/>
            <button value="{{model.NewOfficeTrigger$::click}}" onmousedown="++this.value">Add new office</button>
        </p>
    </template>
</template>
