<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <style>
            @import url("/Content/styles.css");
        </style>
        <div>
            <a href="/franchises/{{model.CorporationId}}/details">Back to office list</a>
        </div>
        <p>
            <h4>Office <span class="officeName">{{model.Name$}}</span> deatils</h4>
            <div>
                <span>Chane office name: </span>
                <input value="{{model.Name$::input}}"/>
            </div>
        </p>
        <hr />
        <p>
            <h5>Address</h5>
            <starcounter-include partial="{{model.Address$}}"></starcounter-include>
        </p>
        <hr />
        <p>
            <h5>Homes</h5>
            <template is="dom-repeat" items="{{model.Homes}}">
                <starcounter-include partial="{{item}}"></starcounter-include>
            </template>
        </p>
    </template>
</template>