<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <style>
            @import url("/Content/styles.css");
        </style>
        <nav>
            <a href="/franchises/{{model.CorporationId}}/details">Back to office list</a>
            <a href="/franchises">Back to top</a>
        </nav>
        <p>
            <h4>Office <span class="officeName">{{model.Name$}}</span> deatils</h4>
            <div>
                <span>Chane office name: </span>
                <input value="{{model.Name$::input}}"/>
            </div>
            <div>
                <button value="{{model.SaveOfficeTrigger$::click}}" onmousedown="++this.value">Save all changes</button>
            </div>
        </p>
        <hr />
        <p>
            <h5>Address</h5>
            <starcounter-include partial="{{model.Address$}}"></starcounter-include>
        </p>
        <hr />
        <p>
            <div>
                <h5>Homes</h5>
                <template is="dom-repeat" items="{{model.SoldHomes}}">
                    <starcounter-include partial="{{item}}"></starcounter-include>
                </template>
            </div>
            <div>
                <h5>Add new home</h5>
                <input value="{{model.NewHomeName$::input}}" />
                <button value="{{model.AddNewHomeTrigger$::click}}" onmousedown="++this.value">Add new home</button>
            </div>
        </p>
    </template>
</template>
